**/node_modules
.pnpm-store
*.log
**/.env
**/.env.local
**/dist
build
**/coverage
.DS_Store
*.db
*.db-shm
*.db-wal
.vscode
.idea

data
**/workspace
config

opencode-src
temp

.git
.github
.gitignore

*.md
!README.md

backend/data

.cache
.turbo
*.swp
*.swo
*~
.npm
.yarn
