@import 'highlight.js/styles/github.css' layer(highlight-light);
@import 'highlight.js/styles/github-dark.css' layer(highlight-dark);

@layer highlight-light {
  :root:not(.dark) .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: var(--color-accent);
    color: var(--color-foreground);
  }
}

@layer highlight-dark {
  .dark .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: var(--color-accent);
    color: var(--color-foreground);
  }
}

:root:not(.dark) .hljs-dark {
  display: none;
}

.dark .hljs:not(.hljs-dark) {
  display: none;
}
